<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refeições Práticas ("Mãozinha na Rotina") | ChefBrico</title>
    <link rel="canonical" href="https://receitas.chefbrico.com/refeicoes-praticas.html" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K58FN8J2VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K58FN8J2VC');
</script>
</head>
<body>
 {% include "cabecalho.html" %}
    <main class="container">
        <h1>Refeições Práticas: Uma "Mãozinha na Rotina"</h1>
        <p>Nossa coleção de soluções completas para os dias mais corridos. Pratos que nutrem, encantam e simplificam sua vida na cozinha.</p>
        <div class="post-grid" style="margin-top: 40px;">
            <a href="receita-baiao-de-dois.html" class="card">
                <img src="/imagens/baiao-de-2-refeicao-pratica-chefbrico.png" alt="Baião de Dois de Grãos Integrais" class="card-image">
                <div class="card-content"><span class="card-category">Receita</span><h3>Baião de Dois de Grãos Integrais</h3></div>
            </a>
            <a href="receita-refeicao-mediterranea.html" class="card">
                <img src="/imagens/Refeic%CC%A7a%CC%83o-gra%CC%83o-de-bico-arroz-vermelho-integral-chefbrico.png" alt="Refeição Mediterrânea" class="card-image">
                <div class="card-content"><span class="card-category">Receita</span><h3>Refeição Mediterrânea</h3></div>
            </a>
             <a href="receita-arroz-negro-funghi.html" class="card">
                <img src="/imagens/Refeicao-arroz-negro-integral-funghi-chefbrico.png" alt="Arroz Negro com Funghi" class="card-image">
                <div class="card-content"><span class="card-category">Receita</span><h3>Arroz Negro com Funghi Secchi</h3></div>
            </a>
        </div>
  </main>

    {% include "rodape.html" %}

    <script src="/js/script.js"></script>

</body>
</html>

