<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções de Comida Saudável para Crianças | ChefBrico</title>
    <meta name="description" content="Refeições práticas, 100% naturais e com sabor de casa que as crianças amam. Conheça nossas sopinhas e pratos aprovados pelos pequenos.">
    <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
 {% include "cabecalho.html" %}
    <main class="container">
        <div class="page-header-local">
            <h1>Nutrição com Sabor de Abraço para seus Filhos</h1>
            <p class="recipe-subtitle">Sabemos que a alimentação dos pequenos é uma prioridade. Conheça as opções da ChefBrico que unem o sabor que eles amam com os nutrientes que eles precisam.</p>
        </div>
        <div id="voz-da-chef-box" class="author-box">
             <img src="/images/maria-conceicao-pra-voce.png" alt="Retrato de Maria Conceição" class="author-image">
            <div class="author-info">
                <h4>Uma mensagem da Maria Conceição (e mãe)</h4>
                <p>Como mãe, sei da nossa busca por uma alimentação infantil que seja saudável e, ao mesmo tempo, deliciosa. Criei e testei cada um destes pratos com meus filhos. São receitas com sabor de infância, 100% naturais e aprovadas pelos paladares mais exigentes!</p>
            </div>
        </div>
        <div class="post-content">
            <h2 style="text-align: center; margin-top: 50px;">As Sopas Favoritas da Criançada</h2>
            <div class="product-grid" style="margin-top: 30px;">
                </div>
            <h2 style="text-align: center; margin-top: 50px;">Pratinhos que Eles Pedem Bis</h2>
            <div class="product-grid" style="margin-top: 30px;">
                </div>
        </div>
     </main>

    {% include "rodape.html" %}

    <script src="/js/script.js"></script>

</body>
</html>
