<div class="info-adicional-box">
    <h2>Informações Adicionais</h2>
    <ul>
        {% if peso %}
            <li><strong>Peso Líquido:</strong> {{ peso }} (Serve {{ porcoes }})</li>
        {% endif %}

        {% if validade %}
            <li><strong>Validade:</strong> {{ validade }}.</li>
        {% endif %}

        {% if dieta %}
            <li><strong>Dieta e Alergênicos:</strong> {{ dieta }} <strong>{{ alergenicos }}</strong></li>
        {% endif %}

        <li><strong>Origem:</strong> Produzido Artesanalmente em Brasília-DF.</li>
        <li>🚚 <strong>Entrega:</strong> Para todo o Brasil via Correios.</li>
    </ul>
</div>
